* {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    margin: 0;
    padding: 0;
}

/*Header part starts*/
/*header first part starts*/
header nav {
    display: flex;
    align-items: center;
}

header .header-first {
    background-color: #2e58e0;
}

header .header-first .row a {
    text-decoration: none;
    color: #fff;
}

header .header-first .row a:hover{
    color: #ffdd45;
}

.logo {
    padding-left: 20px;
}
/*header first part ends*/

/*Header second starts*/
.header-second {
    background-color: #1b3aa0;
    display: flex;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    justify-content: center;
}

.header-second .companies .comp-item a {
    text-decoration: none;
    color: #fff;
}

.header-second .companies .comp-item a:hover {
    color: #ffdd45;
}

.search button{
    background-color: #ffdd45;
    border: 2px solid #b69c29;
    width: 58px;
    height: 36px;
}

.companies {
    display: flex;
    text-align: center;
    justify-content: center;
}

.comp-item {
    padding-left: 23px;
    padding-right: 23px;
}

.search {
    padding-left: 23px;
    padding: 5px;
}
/*header second part ends*/

/*Header part ends*/