* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

html {
    overflow-x: hidden;
}

/*Header part starts*/
/*header first part starts*/
header nav {
    display: flex;
    align-items: center;
}

header .header-first {
    background-color: #2e58e0;
}

header .header-first .row a {
    text-decoration: none;
    color: #fff;
}

header .header-first .row a:hover{
    color: #ffdd45;
}

.logo {
    padding-left: 45px;
}
/*header first part ends*/

/*Header second starts*/
.header-second {
    background-color: #00346e;
    display: flex;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

ul li {
    display: inline-block;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.comp-name {
    position: relative;
    height: 70px;
    transition: all .3s ease;
    transition-behavior: normal;
    transition-duration: 0.3s all;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    box-shadow: inset 0 0 0 0 #ffdd45;
}

.dropdown {
    top: 70px;
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #2e58e0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.comp-name:hover {
    background-color: #2e58e0;
    border-bottom: 8px solid #ffdd45;
}

.comp-name:hover .dropdown {
    display: flex;
    width: 180px;
    padding: 4px;
    border: 11px solid #004591;
}

.dropdown li:hover{
    background-color: #1b3aa0;
}

.dropdown li a{
    font-size: 14px;
    font-weight: 700;
}

.search button{
    background-color: #ffdd45;
    border: 2px solid #b69c29;
    width: 32px;
    height: 32px;
}

.search input {
    border-radius: 6px;
}

.companies {
    display: flex;
    text-align: center;
    justify-content: center;
}

.search {
    padding-left: 23px;
    /*padding: 5px;*/
}
/*header second part ends*/

/*Header part ends*/


/*main part starts*/
.main-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 54px;
}

.main-image img {
    width: 95%;
}

.main-text h3 {
    font-size: 43px;
    color: #1b3aa0;
    font-family: 'ArcadeClassic', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/arcade-classic');
}

.main-paragraph p {
    font-size: 23px;
    color: #2e58e0;
}

.become-subscriber {
    background-color: #1b3aa0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.subscriber-header {
    font-size: 43px;
    color: #fff;
    font-family: 'Press Start 2P';
    text-decoration: underline;
    text-decoration-color: #ffdd45;
}

.subscriber-paragraph {
    font-size: 23px;
    color: #fff;
    padding-top: 8px;
}

.subscriber-paragraph strong {
    color: #ffdd45;
}

.subsriber-input .fa-envelope {
    color: #fff;
}

.subsriber-input input {
    width: 30%;
    padding: 4px;
}

.subsriber-input button{
    background-color: #ffdd45;
    border: 2px solid #b69c29;
    width: 32px;
    height: 32px;
    color: #222325;
}
/*main part for footer links start*/
.footer-links-text {
    margin: 12px 34px 12px 34px;
}

.footer-links-header {
    color: #2e58e0;
}

.footer-links-paragraph {
    color: #2e58e0;
    margin-top: 12px;
    margin-bottom: 12px;
}

.footer-links-paragraph p {
    font-size: 21px;
}

.footer-links-ul {
    font-size: 17px;
}
/*main part for footer links end*/

/*main part ends*/

/*footer part starts*/
footer {
    background-color: #2e58e0;
    padding-top: 23px;
}

.footer-image {
    text-align: center;
}

.footer-total {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-headers {
    color: #fff;
    font-family: 'Press Start 2P';
    margin-top: 23px;
    margin-left:  65px;
    margin-right:  65px;
    text-decoration: underline;
    text-decoration-color: #ffdd45;
    text-decoration-thickness: 3px;
}

.footer-links {
    text-align: center;
    padding-top: 9px;
    padding-bottom: 23px;
}

.footer-links a {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
}

.footer-links a:hover {
    background-color: #1b3aa0;
    text-decoration: underline;
    text-decoration-color: #ffdd45;
    transition: all 0.6s;
}

.footer-links i:hover {
    background-color: #1b3aa0;
    color: #ffdd45;
    transition: all 0.6s;
}

.footer-copyright {
    color: #fff;
    background-color: #1b3aa0;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-copyright strong {
    color: #ffdd45;
}
/*footer part ends*/