/*Swier part start*/
.console-img {
    width: 40%;
    padding-bottom: 10px;
}

.swiper {
    margin-bottom: 40px;
}

.swiper-slide {
    padding-top: 10px;
}

.swiper-slide {
    text-align: center;
    display: block;
}

.swiper-slide a {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.swiper-slide p {
    color: #fff;
    background-color: #1b3aa0;
    text-decoration: none;
    padding: 5px;
    font-size: 21px;
    text-align: center;
    width: 174px;
    border-radius: 5px;
}

.swiper-slide p:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #ffdd45;
    background-color: #2e58e0;
}
/*Swiper part end*/

.items {
    margin-left: 12px;
    text-align: center;
}

.items a {
    text-decoration: none;
}

aside {
    display: flex;
}

/*Filter part start*/
.filter {
    background-color: #d4d4d4;
    width: 190px;
    margin-bottom: 20px;
    display: block;
}

.filter label {
    padding: 5px 10px;
    display: block;
}

.filter h5 {
    color: #2e58e0;
    padding-left: 5px;
}
/*Flter part end*/

/*Card part start*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
    display: inline-block;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 6px;
}

.card button {
    color: #fff;
    background-color: #2e58e0;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
}

.card button:hover {
    background-color: #1b3aa0;
}
/*Card part end*/

/*Pagination starts*/

/*Pagination ends*/