/*Swier part start*/
.console-img {
    width: 40%;
}

.swiper {
    margin-bottom: 40px;
}

.swiper-slide {
    text-align: center;
    display: block;
}

.swiper-slide a {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.swiper-slide p {
    color: #fff;
    background-color: #1b3aa0;
    text-decoration: none;
    padding: 5px;
    font-size: 21px;
    text-align: center;
    width: 174px;
    border-radius: 5px;
}

.swiper-slide p:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #ffdd45;
    background-color: #2e58e0;
}
/*Swiper part end*/