* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

/*Header part starts*/
.header {
    text-align: center;
    background-color: #00346e;
    color: #fff;
}

.header h4 {
    font-weight: bold;
}

.header strong {
    color: #ffdd45;
}
/*Header part ends*/

/*Side bar starts*/
.sidebar {
    height: auto; /* 854px */
    width: 200px;
    background-color: #08143b;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #08143b;
}

.sidebar ul li a i {
    min-width: 20px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.container {    
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    max-width: 100%;
    padding: 0;
}
/*Side bar ends*/

/*Main part starts*/
main {
    display: flex;
    align-items: stretch;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    height: 60%;
}

.section {
    background-color: #2e58e0;
    border: 1px solid #000;
    margin: 5px;
    text-align: center;
    padding: 6px;
    width: 20%;
    height: 50%;
}

.section h2 {
    color: #ffdd45;
}

.section p {
    color: #fff;
    font-size: 25px;
}
/*Main part Starts*/

/*Footer part start*/
.footer {
    background-color: #2e58e0;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

span .owner {
    color: #fff;
}

.footer strong {
    color: #ffdd45;
}
/*Footer part ends*/

/*Admin Part Start*/
.main-page {
    margin-left: 70px;
    align-items: center;
}

.main-page-header h2 {
    color: #2e58e0;
    font-weight: bold;
}
/*Admin Part End*/

/*CSS for items in multiple files*/
.add-item {
    padding: 5px;
    color: #fff;
    background-color: #27ae60;
    border-radius: 10px;
    border: none;
}

.add-item:hover {
    background-color: #229652;
}

.board table tr td {
    padding: 14px;
}

.board table tr th {
    padding: 12px;
    border-bottom: 1px solid #000;
    bottom: 12px;
    text-align: left;
}

label {
    width: 190px;
    display: inline-block;
}

form input {
    border-radius: 4px;
    margin-top: 4px;
}

form select {
    margin-top: 4px;
}

.add-action {
    margin-top: 20px;
    margin-bottom: 20px;
}